<form [ngFormModel]="formGroup" (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-item>
      <ion-label fixed>{{'login.Username' | translate}}</ion-label>
      <ion-input text-right ngControl="username" [(ngModel)]="model.userName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{'login.Password'|translate}}</ion-label>
      <ion-input text-right ngControl="password" [(ngModel)]="model.password" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button small blue full type="submit" [disabled]="!formGroup.valid">
      {{'login.Login'|translate}} <circle-loader [hidden]="!stateOnload"></circle-loader>
    </button>
  </div>
</form>
