<ion-navbar *navbar >
  <ion-title>User</ion-title>
</ion-navbar>
<ion-content padding class="user">
  <ion-list>
    <ion-item *ngFor="#attr of keys();var index = index;">
      <span *ngIf="attr === 'lastLoggedTime'">
        {{ 'user.' + attr | translate }} {{relutionUserProvider.user[attr]|date:'fullDate'}}
      </span>
      <span *ngIf="['lastLoggedTime', 'rolesObject'].indexOf(attr) === -1">
        {{attr | translate }}: {{relutionUserProvider.user[attr]}}
      </span>
    </ion-item>
  </ion-list>
</ion-content>
